@inherits LayoutComponentBase

<div class="page @themeClass">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="status-badge">Kiosko Digital Activo</span>
            <UserProfileSmall />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <NotificationToast />
</div>

@code {
    private string themeClass => isDarkMode ? "dark-theme" : "light-theme";
    private bool isDarkMode = false; // Se vincula con el UserProfile
}
