.page {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: var(--card-bg);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.top-row {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--card-bg);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.status-badge {
    background-color: var(--action-green);
    /* Verde Esmeralda para éxito */
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
}